<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to notes_path do %>
      <i class="huge remove icon"></i>
    <% end %>
    <%= render "form" %>
  </body>
</html>
