<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to "Cancel", notes_path %>
    <i class="add icon"></i>
    <%= render "form" %>
  </body>
</html>
