h1.custom {
  color: yellow;
  font-size: 100px;
  transform: translateX(-50%);
  margin-left: 50%;
  text-align: center;
  text-shadow: red 5px .7px
}

div#note_index {
  width: 30%;
  background: rgb(255, 255, 255);
}
